.pigeon {
    color: blue;
    font-family: serif;
    font-size: 26px;
    font-style: italic;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #000;
    margin: 5px;
    padding: 5px;
    text-align: center;
}